npm install react-native-screens react-native-safe-area-context
npm install @react-navigation/native
npm install @react-navigation/stack
npm install
npx expo install react-dom react-native-web @expo/metro-runtime